*,
*::after,
*::before {
  box-sizing: border-box;
  color: #cac9d8;
  font-family: 'Architects Daughter', cursive;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0b0b13;
  /* background: radial-gradient(circle 50px, red, yellow 10%, #1e90ff 50%, beige); */    display: flex;
  flex-direction: column;
  line-height: 1.5;
  min-height: 100vh;
}

/* header and top nav bar ---------------------------- */
h1 {
  padding: .5rem 1rem;
}

a {
  align-self: center;
  text-decoration: none;
}

.nav-bar {
  background-color: #4d2345;
  border-bottom: 1px solid #d46ec0;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.nav-bar > ul > *:hover {
  color: #12b7d4;
} 

.nav-bar > ul > *:active {
  color: #a85ff1;
}

/* other layout components --------------------------- */
.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

img,
svg {
  align-self: center;
  display: block;
  max-width: 100%;
}

footer {
  border-top: 1px solid #0e1230;
  display: flex;
  padding: .5rem;
}

.footerWrapper {
  display: flex;
  justify-content: space-evenly;
  min-width: 14rem;
}

.footerNote {
  align-items: center;
  display: flex;
}

/* pages ---(inside main) ------------------------------------------ */
.stripe {
  background-color: rgb(212, 110, 192, .3);
  border-top: 1px solid #d46ec0;
  height: 1rem;
}

.nav-notecCardDecks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: .5rem;
}

.nav-notecCardDecks > * {
  background-color: #504e6d;
  border: 1px solid black;
  border-radius: .2rem;
  padding: .5rem 1.5rem;
}

.nav-notecCardDecks > *:hover {
  background-color: #7875a3;
  color: #12b7d4;
}

.nav-notecCardDecks > *:active {
  background-color: #a85ff1;
}

.add-container,
.browse-section {
  background-color: #2d2144;
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

/* form ---------------------------------------------- */
.myForm {
  border: 1px solid purple;
  border-radius: .2rem;
  color:#2d2144;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.myForm > * {
  background-color: #c9c7f1;
  border: 1px solid purple;
  border-radius: .1rem;
  color:#085c6b;
  margin: .5rem 0;
  padding: .5rem;
  resize: none;
}

.myForm > input:focus,
.myForm > textarea:focus {
  background-color: #7fc7d4;
}

.myForm > button {
  background-color: #d46ec0;
  max-width: 12rem;
}

.myForm > button:hover {
  background-color: #db2fb8;
}

.myForm > button:active {
  background-color: #7fc7d4;
}

.card-demo {
  max-width: 90vw;
  margin: 1rem;
}

/* single note-card ---------------------------------- */
.three-by-five-card {
  aspect-ratio: 5 / 3;
  background-color: aliceblue;
  border-top-right-radius: .125rem;
  border-top-left-radius: .15rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-width: 380px;
}

.my-card-h2 {
  border-bottom: 1px solid red;
  color:#2d2144;
  font-size: large;
  padding: .5rem .5rem 0 .5rem;
}

.my-card-content {
  background: repeating-linear-gradient(
      to bottom, 
      aliceblue,
       aliceblue 14%,
       rgb(137, 253, 253) 15%,
       aliceblue 16%,
       aliceblue 26%,
       rgb(137, 253, 253) 27%,
       aliceblue 28%,
       aliceblue 38%,
       rgb(137, 253, 253) 39%,
       aliceblue 40%,
       aliceblue 50%,
       rgb(137, 253, 253) 51%,
       aliceblue 52%,
       aliceblue 62%,
       rgb(137, 253, 253) 63%,
       aliceblue 64%,
       aliceblue 74%,
       rgb(137, 253, 253) 75%,
       aliceblue 76%,
       aliceblue 86%,
       rgb(137, 253, 253) 87%,
       aliceblue 88%,
       aliceblue 100%);
  color: darkblue;
  flex: 1;
  padding: .5rem;
}


/* media queries --------------------------------------------------- */
@media(min-width: 800px) {
  .browse-section {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }
  .my-card-h2,
  .three-by-five-card {
    font-size: large;
  }
}

@media(min-width: 1000px) {
  .my-card-h2,
  .three-by-five-card {
    font-size: x-large;
  }
}

@media(max-width: 400px){
  .three-by-five-card {
      min-width: 90vw;
  }
}

@media(min-width: 401px) {
  .browse-section {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1fr);
    padding: 1rem;
  }
  
  .my-card-content,
  .my-card-h2,
  .three-by-five-card {
    font-size: large;
    max-width: 500px;
  }
}

@media(min-width: 1200px) {
  .browse-section {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
  }
}




