*,
*::after,
*::before {
    box-sizing: border-box;
    color: rgb(41, 35, 35);
    font-family: 'Architects Daughter', cursive;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(121, 122, 131);
    /* background: radial-gradient(circle 50px, red, yellow 10%, #1e90ff 50%, beige); */
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    min-height: 100vh;
}

/* header and top nav bar ---------------------------- */
h1 {
    padding: 1rem;
}

a {
  text-decoration: none;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.nav-notecCardDecks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* other layout components --------------------------- */
main {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.browse-section {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

.three-by-five-card {
  aspect-ratio: 5 / 3;
  background-color: aliceblue;
  border-top-right-radius: .125rem;
  border-top-left-radius: .15rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-width: 380px;
}

.my-card-h2 {
  border-bottom: 1px solid red;
  font-size: large;
  padding: .5rem .5rem 0 .5rem;
}

.my-card-content {
  background: repeating-linear-gradient(
      to bottom, 
      aliceblue,
       aliceblue 14%,
       rgb(137, 253, 253) 15%,
       aliceblue 16%,
       aliceblue 26%,
       rgb(137, 253, 253) 27%,
       aliceblue 28%,
       aliceblue 38%,
       rgb(137, 253, 253) 39%,
       aliceblue 40%,
       aliceblue 50%,
       rgb(137, 253, 253) 51%,
       aliceblue 52%,
       aliceblue 62%,
       rgb(137, 253, 253) 63%,
       aliceblue 64%,
       aliceblue 74%,
       rgb(137, 253, 253) 75%,
       aliceblue 76%,
       aliceblue 86%,
       rgb(137, 253, 253) 87%,
       aliceblue 88%,
       aliceblue 100%);
  color: darkblue;
  flex: 1;
  padding: .5rem;
}

@media(min-width: 800px) {
  .browse-section {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
      padding: 1rem;
  }
  .my-card-h2,
  .three-by-five-card {
      font-size: large;
  }
}

@media(min-width: 1000px) {
  .my-card-h2,
  .three-by-five-card {
      font-size: x-large;
  }
}

@media(max-width: 400px){
  .three-by-five-card {
      min-width: 90vw;
  }
}

@media(min-width: 401) {
.browse-section {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1fr);
  padding: 1rem;
}
 
.my-card-content,
.my-card-h2,
.three-by-five-card {
  font-size: large;
  max-width: 500px;
}
}

@media(min-width: 1200px) {
  .browse-section {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(3, 1fr);
      padding: 1rem;
  }
}




