# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

docs/2fa-codes-slack.md
docs/autism.md
docs/certifications.md
docs/chat_gpt_copypasta.md
docs/checklist.md
docs/conversation.md
docs/jerb.md
docs/leet_js_questions.md
docs/linkedin.md
docs/pattyp.md
docs/portfolio.md
project_with_Rick.md
docs/renter.md
docs/thomasProject.md
docs/uber.md