body {
  background: repeating-linear-gradient(
    to bottom, 
    aliceblue,
     aliceblue 14%,
     rgb(137, 253, 253) 15%,
     aliceblue 16%,
     aliceblue 26%,
     rgb(137, 253, 253) 27%,
     aliceblue 28%,
     aliceblue 38%,
     rgb(137, 253, 253) 39%,
     aliceblue 40%,
     aliceblue 50%,
     rgb(137, 253, 253) 51%,
     aliceblue 52%,
     aliceblue 62%,
     rgb(137, 253, 253) 63%,
     aliceblue 64%,
     aliceblue 74%,
     rgb(137, 253, 253) 75%,
     aliceblue 76%,
     aliceblue 86%,
     rgb(137, 253, 253) 87%,
     aliceblue 88%,
     aliceblue 100%);
     font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
     padding: 50px;
  }
  
  a {
    color: #00B7FF;
  }